NodeRed-Flows/Device Manager.json
[{"id":"72d2c453.01273c","type":"tab","label":"Device Manager Flow","disabled":false,"info":""},{"id":"32a8a7.3ff6375a","type":"ui_form","z":"72d2c453.01273c","name":"Formulario","label":"","group":"927fe314.49a46","order":1,"width":0,"height":0,"options":[{"label":"Deviceid","value":"deviceId","type":"text","required":true},{"label":"Sensores (com \",\")","value":"sensors","type":"text","required":true}],"formValue":{"deviceId":"","sensors":""},"payload":"","submit":"Register","cancel":"Clear","topic":"form","x":77.20233917236328,"y":865.2381114959717,"wires":[["53ee2e69.bf03e","a5362f9b.dff12"]]},{"id":"6755cc69.d44594","type":"ui_dropdown","z":"72d2c453.01273c","name":"","label":"Device","tooltip":"Select One","place":"","group":"f4724a1e.a965b8","order":1,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1885.7143745422363,"y":285.7142696380615,"wires":[["215d17.0dac32ea"]]},{"id":"53ee2e69.bf03e","type":"function","z":"72d2c453.01273c","name":"Queries de criaçao de dispositivo","func":"\n/*Solução copiada de\n  https://stackoverflow.com/questions/8532406/create-a-random-token-in-javascript-based-on-user-details\n  gera um token aleatório\n  não garante que não haverá colisão entre os\n  tokens.\n*/\nvar rand = function() {\n    return Math.random().toString(36).substr(2); // remove `0.`\n};\n\nvar token = function() {\n    return rand() + rand(); // to make it longer\n};\n\n/*gera um token unico para o dispositivo*/\ndeviceToken = token();\n/*converte de string para um vetor*/\nsensors = msg.payload.sensors.split(\",\");\nfor (i = 0; i<sensors.length; i++)\n    sensors[i] = sensors[i].trim(); //remove espaços\n\ndeviceId = msg.payload.deviceId;\n\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\n\n/*mesnagem de atualização da lista de dispositivos*/\nmsg1.payload = \"\";\n\n/*mensagem de insersão na collection dispositivos*/\nmsg2.payload = {};\nmsg2.payload.deviceId = deviceId;\nmsg2.payload.sensores = sensors;\nmsg2.payload.deviceToken = deviceToken;\n\n/*mensagem de insersão na collection dados*/\nmsg3.payload = {};\nmsg3.payload.deviceToken = deviceToken;\nfor(i=0; i<sensors.length; i++)\n    msg3.payload[sensors[i]] = [];\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":327.20235443115234,"y":865.2381114959717,"wires":[["e09a7ae1.39d0d8"],["8f205b77.a82618"],["27bad424.dff42c"]]},{"id":"8f205b77.a82618","type":"mongodb out","z":"72d2c453.01273c","mongodb":"1ce7a0f6.b78ddf","name":"","collection":"dispositivos","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":729.1071853637695,"y":864.8809337615967,"wires":[]},{"id":"83cb9cbe.87442","type":"mongodb in","z":"72d2c453.01273c","mongodb":"1ce7a0f6.b78ddf","name":"find dispositivos","collection":"dispositivos","operation":"find","x":1502.3215560913086,"y":285.53573989868164,"wires":[["e1a931da.a4375"]]},{"id":"e1a931da.a4375","type":"function","z":"72d2c453.01273c","name":"Filtrar nomes","func":"\n/*\ncria uma estrutura capaz de ser exibida\nno dropdown\n*/\nvar i;\nmsg.options = [];\n\nfor (i = 0; i < msg.payload.length; i++) {\n  var obj = {};\n  obj[msg.payload[i].deviceId] = msg.payload[i];\n  msg.options[i] =  obj;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1717.1428985595703,"y":285.7142686843872,"wires":[["6755cc69.d44594","b7fd1e8d.8caa1"]]},{"id":"d17c9a3b.9fb988","type":"ui_template","z":"72d2c453.01273c","group":"e815d1.fa2eca3","name":"Device Info","order":1,"width":"8","height":"4","format":"<ul>\n    <li>Device id: {{msg.payload.deviceId}}</li>\n    <li>Device token: {{msg.payload.deviceToken}}</li>\n    <li>Sensores: </li>\n    <li ng-repeat=\"x in msg.payload.sensores\">{{x}}</li>\n</ul>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2267,"y":311.1428527832031,"wires":[[]]},{"id":"dcc91641.d48098","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":508.75000381469727,"y":133.75000190734863,"wires":[["23afb25d.10c1de"]]},{"id":"23afb25d.10c1de","type":"function","z":"72d2c453.01273c","name":"Device Manager?","func":"\nmsg.status = 0;\n\n/*testa se a tela corrente é a Device Data*/\nvar screen = global.get(\"screen\");\n\nif (screen == \"Device Manager\"){\n    msg.status = 1;\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":712.5000076293945,"y":135.00000190734863,"wires":[["83cb9cbe.87442"]]},{"id":"368b6fab.63dd4","type":"ui_button","z":"72d2c453.01273c","name":"","group":"79ac33e4.0b0f2c","order":4,"width":"2","height":"1","passthru":false,"label":"Edit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":63.04761505126953,"y":682.2857131958008,"wires":[["26e0b3cd.b775bc"]]},{"id":"95ba7cc7.1c265","type":"ui_button","z":"72d2c453.01273c","name":"","group":"f4724a1e.a965b8","order":3,"width":"3","height":"1","passthru":false,"label":"View Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":103.21427917480469,"y":1182.119104385376,"wires":[["49ad3ffb.ee1b1"]]},{"id":"218cfd06.59f2a2","type":"comment","z":"72d2c453.01273c","name":"Lista de dispositivos","info":"Atualiza a lista de dispositivos quando o usuário \nnavega para a página \"Device Manager\"","x":183,"y":51,"wires":[]},{"id":"49ad3ffb.ee1b1","type":"function","z":"72d2c453.01273c","name":"Go to Device Data","func":"\n/*\nretorna para a tela de login quando a aba\nlog-out é clicada\n*/\n\nmsg.payload = {tab:\"Device Data\"}\n\n/*muda a tela para a tela \"Device Data\"*/\nglobal.set(\"screen\", \"Device Data\");\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":293.2142791748047,"y":1182.119104385376,"wires":[["8dda75cc.692be8","8452cfff.498c1"]]},{"id":"8dda75cc.692be8","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":463.2142791748047,"y":1182.119104385376,"wires":[[]]},{"id":"6fd8b86.0e49c48","type":"comment","z":"72d2c453.01273c","name":"Tela de Visulização de dados","info":"Deve editar as informações do \ndispositivo de alguma forma.","x":152.79761505126953,"y":1417.5357856750488,"wires":[]},{"id":"215d17.0dac32ea","type":"function","z":"72d2c453.01273c","name":"Show Device Info","func":"var msg2 = {}, msg1 = {};\n//repassa a informação do dispositivo selecionado\nmsg2.payload = msg.payload;\n\nvar logout = global.get(\"logout\")||false;\n\n//mostra a parte de informação, ignora uma vez\n//se o usuário fez logout\n\nif(!logout)\n    msg1.payload = {group:{ show:[\"Device_Manager_Device_Information\"]}};\nelse\n    global.set(\"logout\",false);\n\nglobal.set(\"selectedDev\", msg.payload);\n    \nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":2070.000015258789,"y":287.1428518295288,"wires":[["35984467.538aec"],["d17c9a3b.9fb988"]]},{"id":"35984467.538aec","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":2270,"y":205.14285278320312,"wires":[[]]},{"id":"27bad424.dff42c","type":"mongodb out","z":"72d2c453.01273c","mongodb":"1ce7a0f6.b78ddf","name":"","collection":"dados","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":707.8571243286133,"y":928.2143077850342,"wires":[]},{"id":"b7add34b.66e65","type":"comment","z":"72d2c453.01273c","name":"Insere dispositivo","info":"- Insere o dispositivo criado na coleção de dispositivos\n- Insere os dados do dispositivo criado na coleção com os dados.","x":272.44044494628906,"y":914.0476741790771,"wires":[]},{"id":"e09a7ae1.39d0d8","type":"delay","z":"72d2c453.01273c","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":639.9404983520508,"y":806.5475587844849,"wires":[["83cb9cbe.87442"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"1d05f095.47df3f","type":"inject","z":"72d2c453.01273c","name":"setup","topic":"","payload":"setup","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":165,"y":93.75000190734863,"wires":[["886ae2ec.61c1c"]]},{"id":"886ae2ec.61c1c","type":"function","z":"72d2c453.01273c","name":"UI Setup","func":"global.set(\"typeUser\", msg.payload.typeUser);\n\n/*muda a tela para a tela \"Device Manager\"*/\nif (msg.payload != \"setup\")\n    global.set(\"screen\", \"Device Manager\");\n\n\n/*if(msg.payload.typeUser === 0)\n{\n    msg.payload = {\n               group:{hide:[\"Device_Manager_Device_Information\"], show:[\"Device_Manager_Modify_Device\", \"Device_Manager_New_Device\"]}\n              }\n}*/\n/*else\n{*/\n    msg.payload = {\n               group:{show:[\"Device_Manager_Registered_Devices\"], hide:[\"Device_Manager_Device_Information\", \"Device_Manager_Modify_Device\", \"Device_Manager_Register_New_Device\"]}\n              }\n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":332.50000381469727,"y":133.74999809265137,"wires":[["dcc91641.d48098","365f1f03.3a72d"]]},{"id":"ec195af2.ffead8","type":"link in","z":"72d2c453.01273c","name":"Device Manager UI Setup","links":["9d61696e.917068"],"x":200.00000286102295,"y":182.50000190734863,"wires":[["886ae2ec.61c1c","4e169890.55fd08"]]},{"id":"329d9f38.dbe51","type":"ui_button","z":"72d2c453.01273c","name":"","group":"79ac33e4.0b0f2c","order":5,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":65.57144165039062,"y":481,"wires":[["f4400f6e.c4d04"]]},{"id":"f4400f6e.c4d04","type":"function","z":"72d2c453.01273c","name":"Deleta Dispositivo","func":"deviceId = global.get(\"selectedDev\").deviceId;\ndeviceSensors = global.get(\"selectedDev\").sensores;\ndeviceToken = global.get(\"selectedDev\").deviceToken;\n\nmsg1 = {}\nmsg2 = {}\nmsg3 = {}\n\n/*mensagem de exclusão na collection dispositivos*/\nmsg1.payload = {};\nmsg1.payload.deviceId = deviceId;\nmsg1.payload.deviceToken = deviceToken;\n\n/*mensagem de exclusão na collection dados*/\nmsg2.payload = {};\nmsg2.payload.deviceToken = deviceToken;\n\n/*mesnagem de atualização da lista de dispositivos*/\nmsg3.payload = \"\";\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":288.5714416503906,"y":480.9999933242798,"wires":[["7258c740.79e098"],["9a508044.04ad1"],["d18341b4.22d8a","13ac424f.96091e"]]},{"id":"9a508044.04ad1","type":"mongodb out","z":"72d2c453.01273c","mongodb":"1ce7a0f6.b78ddf","name":"","collection":"dados","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":617.4287796020508,"y":475.67859649658203,"wires":[]},{"id":"7258c740.79e098","type":"mongodb out","z":"72d2c453.01273c","mongodb":"1ce7a0f6.b78ddf","name":"","collection":"dispositivos","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":632.6787185668945,"y":403.0000972747803,"wires":[]},{"id":"fe628a7f.bd0878","type":"comment","z":"72d2c453.01273c","name":"Apaga dispositivo","info":"- Apaga o dispositivo selecionado.\n- Apaga os dados do dispositivo criado na coleção com os dados.","x":286.66667556762695,"y":533.3333139419556,"wires":[]},{"id":"26e0b3cd.b775bc","type":"function","z":"72d2c453.01273c","name":"Edita Dispositivo","func":"devSensors = global.get(\"sensoresDev\");\ndevId = global.get(\"idDev\");\ndevToken = global.get(\"selectedDev\").deviceToken;\n\nmsg2 = {};\n\n/*\ncria a query de insersão de dados no banco\nnesse caso a query para inserir na coleção dados,\no dado recebido fica no formato\n\ndb.dados.update({deviceToken:token}, \n                {$push : {sensor : {timestamp:<valor>, valor:<valor>} } }\n               )\n*/\n\nquery_msg = {};\n\nquery_msg.query = {};\nquery_msg.query.deviceToken = devToken;\n\n/*converte de string para um vetor*/\nsensors = devSensors.split(\",\");\nfor (i = 0; i<sensors.length; i++)\n    sensors[i] = sensors[i].trim(); //remove espaços\n\nquery_msg.payload = {};\nquery_msg.payload.deviceId = devId;\nquery_msg.payload.sensores = sensors;\nquery_msg.payload.deviceToken = devToken;\n\nmsg2.payload = \"\";\n\nmsg3 = {};\nmsg3.query = {};\nmsg3.query.deviceToken = devToken;\n\n/*mensagem de insersão na collection dados*/\nmsg3.payload = {};\nmsg3.payload.deviceToken = devToken;\nfor(i=0; i<sensors.length; i++)\n    msg3.payload[sensors[i]] = [];\n\nreturn [query_msg, msg2, msg3];","outputs":3,"noerr":0,"x":283.3333282470703,"y":683.3333206176758,"wires":[["315eb42b.57aa7c"],["13ac424f.96091e"],["2d5b5fae.d8951"]]},{"id":"315eb42b.57aa7c","type":"mongodb out","z":"72d2c453.01273c","mongodb":"1ce7a0f6.b78ddf","name":"","collection":"dispositivos","payonly":true,"upsert":false,"multi":false,"operation":"update","x":631.3572998046875,"y":662.0834350585938,"wires":[]},{"id":"fcb9e79.cf7a518","type":"comment","z":"72d2c453.01273c","name":"Edita dispositivo","info":"- Edita o dispositivo selecionado.\n- Edita os dados do dispositivo criado na coleção com os dados.","x":273.0952339172363,"y":735.6666460037231,"wires":[]},{"id":"d18341b4.22d8a","type":"delay","z":"72d2c453.01273c","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":632,"y":531.9999389648438,"wires":[["83cb9cbe.87442"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"13ac424f.96091e","type":"delay","z":"72d2c453.01273c","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1275.047622680664,"y":685.6429538726807,"wires":[["83cb9cbe.87442","53e005e3.80703c","caedb601.f295f8"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"57f3e067.9e571","type":"function","z":"72d2c453.01273c","name":"Get Selected Values","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = msg.payload.deviceId;\n\nvar sensores = \"\";\n\nif( msg.payload.sensores != null )\n{\n    for(i = 0; i < msg.payload.sensores.length; i++)\n    {\n        if( i == msg.payload.sensores.length-1 )\n            sensores += msg.payload.sensores[i];\n        else\n            sensores += msg.payload.sensores[i] + \",\";\n    }\n}\n\nmsg2.payload = sensores;\n\nglobal.set(\"idDev\", msg1.payload);\nglobal.set(\"sensoresDev\", msg2.payload);\nglobal.set(\"_id\", msg.payload._id);\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":2098.095458984375,"y":447.8571472167969,"wires":[["53e005e3.80703c"],["caedb601.f295f8"]]},{"id":"53e005e3.80703c","type":"ui_text_input","z":"72d2c453.01273c","name":"","label":"Device ID","tooltip":"","group":"79ac33e4.0b0f2c","order":2,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"","x":2351.928741455078,"y":418.32146072387695,"wires":[["8c5449f0.0c0968"]]},{"id":"caedb601.f295f8","type":"ui_text_input","z":"72d2c453.01273c","name":"","label":"Sensores","tooltip":"","group":"79ac33e4.0b0f2c","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":2352.500030517578,"y":472.7500190734863,"wires":[["9b34dd3e.13959"]]},{"id":"8c5449f0.0c0968","type":"function","z":"72d2c453.01273c","name":"Update Global Edit","func":"global.set(\"idDev\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":2543.500030517578,"y":409.7500190734863,"wires":[[]]},{"id":"9b34dd3e.13959","type":"function","z":"72d2c453.01273c","name":"Update Global Edit","func":"global.set(\"sensoresDev\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":2544.500030517578,"y":476.7500190734863,"wires":[[]]},{"id":"2d5b5fae.d8951","type":"mongodb out","z":"72d2c453.01273c","mongodb":"1ce7a0f6.b78ddf","name":"","collection":"dados","payonly":true,"upsert":false,"multi":false,"operation":"update","x":611.4285888671875,"y":715.7142944335938,"wires":[]},{"id":"b7fd1e8d.8caa1","type":"ui_dropdown","z":"72d2c453.01273c","name":"","label":"Device","tooltip":"Select One","place":"","group":"79ac33e4.0b0f2c","order":1,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1889,"y":448.00001335144043,"wires":[["57f3e067.9e571"]]},{"id":"4e169890.55fd08","type":"debug","z":"72d2c453.01273c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":384,"y":197,"wires":[]},{"id":"365f1f03.3a72d","type":"debug","z":"72d2c453.01273c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":529,"y":57,"wires":[]},{"id":"eb2f2202.3946a","type":"ui_button","z":"72d2c453.01273c","name":"","group":"e815d1.fa2eca3","order":1,"width":0,"height":0,"passthru":false,"label":"Hide Information","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":112.50003814697266,"y":1352.0000171661377,"wires":[["66335d5.8e511a4"]]},{"id":"a80a15d9.37dfc8","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":545.5000381469727,"y":1352.0000171661377,"wires":[[]]},{"id":"66335d5.8e511a4","type":"function","z":"72d2c453.01273c","name":"Hide Informations","func":"msg.payload = {group:{ hide:[\"Device_Manager_Device_Information\"]}};\n\nreturn msg;","outputs":1,"noerr":0,"x":348.50003814697266,"y":1352.0000171661377,"wires":[["a80a15d9.37dfc8"]]},{"id":"d5033ed5.84438","type":"ui_text","z":"72d2c453.01273c","group":"efc0397a.67eb98","order":0,"width":0,"height":0,"name":"","label":"Logout","format":"{{msg.payload}}","layout":"row-spread","x":89.02777862548828,"y":1499.305528640747,"wires":[]},{"id":"a833211b.b2d81","type":"ui_button","z":"72d2c453.01273c","name":"","group":"f4724a1e.a965b8","order":5,"width":"3","height":"1","passthru":false,"label":"Edit Device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":101.25,"y":1283.5000190734863,"wires":[["a87f63cb.ad22f"]]},{"id":"a87f63cb.ad22f","type":"function","z":"72d2c453.01273c","name":"Show Edit Fields/Buttons","func":"typeUser = {};\ntypeUser = global.get(\"typeUser\");\n\nif( typeUser === 0  )\n{\n    msg.payload = {group:{ show:[\"Device_Manager_Modify_Device\"], hide:[\"Device_Manager_Registered_Devices\"] }};\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":318.5,"y":1282.7500371932983,"wires":[["8f994d20.1a863"]]},{"id":"8f994d20.1a863","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":522.5000076293945,"y":1282.5000371932983,"wires":[[]]},{"id":"db916843.8aef88","type":"ui_button","z":"72d2c453.01273c","name":"","group":"f4724a1e.a965b8","order":4,"width":"3","height":"1","passthru":false,"label":"Register Device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":111.25,"y":1229.9999990463257,"wires":[["f4778fa2.4eb5"]]},{"id":"f4778fa2.4eb5","type":"function","z":"72d2c453.01273c","name":"Show Register Fields","func":"typeUser = {};\ntypeUser = global.get(\"typeUser\");\n\nif( typeUser === 0  )\n{\n    msg.payload = {group:{ show:[\"Device_Manager_Register_New_Device\"], hide:[\"Device_Manager_Registered_Devices\"] }};\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":329.75,"y":1230.250018119812,"wires":[["30b85c3f.8c9fc4"]]},{"id":"30b85c3f.8c9fc4","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":521.5000114440918,"y":1230.5000190734863,"wires":[[]]},{"id":"d0d14d78.bc84f","type":"ui_button","z":"72d2c453.01273c","name":"","group":"79ac33e4.0b0f2c","order":6,"width":"2","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":1006.2500152587891,"wires":[["bfc778bf.3b8d88"]]},{"id":"bfc778bf.3b8d88","type":"function","z":"72d2c453.01273c","name":"Show Edit Fields/Buttons","func":"typeUser = {};\ntypeUser = global.get(\"typeUser\");\n\nif( typeUser === 0  )\n{\n    msg.payload = {group:{ show:[\"Device_Manager_Registered_Devices\"], hide:[\"Device_Manager_Modify_Device\"] }};\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":268.75,"y":1005,"wires":[["4389cc54.877074"]]},{"id":"4389cc54.877074","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":472.75000762939453,"y":1004.75,"wires":[[]]},{"id":"a5362f9b.dff12","type":"debug","z":"72d2c453.01273c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":226.25,"y":807.5,"wires":[]},{"id":"9879b34b.ca26f","type":"ui_button","z":"72d2c453.01273c","name":"","group":"927fe314.49a46","order":2,"width":"0","height":"0","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":81.25,"y":1095.0000162124634,"wires":[["f5cc1d64.b55a9"]]},{"id":"f5cc1d64.b55a9","type":"function","z":"72d2c453.01273c","name":"Show Edit Fields/Buttons","func":"typeUser = {};\ntypeUser = global.get(\"typeUser\");\n\nif( typeUser === 0  )\n{\n    msg.payload = {group:{ show:[\"Device_Manager_Registered_Devices\"], hide:[\"Device_Manager_Register_New_Device\"] }};\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":1093.7500009536743,"wires":[["5465aa74.4bffc4"]]},{"id":"5465aa74.4bffc4","type":"ui_ui_control","z":"72d2c453.01273c","name":"","x":474.00000762939453,"y":1093.5000009536743,"wires":[[]]},{"id":"c80cae7d.9a93","type":"comment","z":"72d2c453.01273c","name":"Back do Edit Device","info":"","x":117.5,"y":962.5,"wires":[]},{"id":"28a6716d.4d37be","type":"comment","z":"72d2c453.01273c","name":"Back do New Device","info":"","x":112.5,"y":1057.5,"wires":[]},{"id":"8452cfff.498c1","type":"link out","z":"72d2c453.01273c","name":"","links":["74dd1007.c2d87"],"x":422,"y":1148,"wires":[]},{"id":"927fe314.49a46","type":"ui_group","z":"","name":"Register New Device","tab":"53fa80a0.967cf","order":2,"disp":true,"width":"8","collapse":false},{"id":"f4724a1e.a965b8","type":"ui_group","z":"72d2c453.01273c","name":"Registered Devices","tab":"53fa80a0.967cf","order":3,"disp":true,"width":"9","collapse":false},{"id":"1ce7a0f6.b78ddf","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotmiddleware","name":""},{"id":"e815d1.fa2eca3","type":"ui_group","z":"","name":"Device Information","tab":"53fa80a0.967cf","order":4,"disp":true,"width":"8","collapse":false},{"id":"79ac33e4.0b0f2c","type":"ui_group","z":"","name":"Modify Device","tab":"53fa80a0.967cf","disp":true,"width":"6","collapse":false},{"id":"efc0397a.67eb98","type":"ui_group","z":"","name":"Logout","tab":"4e548dd.4ba9e74","order":1,"disp":true,"width":"6","collapse":false},{"id":"53fa80a0.967cf","type":"ui_tab","z":"","name":"Device Manager","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"4e548dd.4ba9e74","type":"ui_tab","z":"","name":"Logout","icon":"dashboard","order":5,"disabled":false,"hidden":true}]
