NodeRed-Flows/Device Data Api.json
[{"id":"206c19c3.99a1c6","type":"tab","label":"Device Data Api","disabled":false,"info":""},{"id":"7e23c808.b48d98","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Insert Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1719,"y":469,"wires":[]},{"id":"59782fc0.1970c","type":"http in","z":"206c19c3.99a1c6","name":"","url":"postData","method":"post","upload":false,"swaggerDoc":"","x":168,"y":475.5,"wires":[["2008de0f.864b22","57e82209.0eb34c"]]},{"id":"2008de0f.864b22","type":"function","z":"206c19c3.99a1c6","name":"validation","func":"var status = 1;\n/*\ntesta se a requisiçao veio correta\nnesse caso, apenas a atualização de um\nsensor por dispositivo é feita\n*/\n\n/*\nseria legal adicionar aqui um teste\npara verificar se o sensor desejado:\n1 - está cadastrado\n2 - Possui o sensor que está sendo atualizado\nIsso pode ser feito usando o próprio banco\nna collection dispositivos.\n*/\n\nif (Object.entries(msg.payload).length == 4 &&\n    msg.payload.hasOwnProperty('deviceToken') &&\n    msg.payload.hasOwnProperty('sensor') &&\n    msg.payload.hasOwnProperty('timestamp') && \n    msg.payload.hasOwnProperty('valor'))\n{\n    status = 1;\n}\n\nmsg.payload.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":475,"wires":[["100688d3.dc8517"]]},{"id":"100688d3.dc8517","type":"switch","z":"206c19c3.99a1c6","name":"router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":603,"y":475,"wires":[["d79b87cf.53f698","255b9b14.0bec14"],["7b58e97a.0fb248"]]},{"id":"d79b87cf.53f698","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":763,"y":435,"wires":[]},{"id":"7b58e97a.0fb248","type":"http response","z":"206c19c3.99a1c6","name":"Bad request","statusCode":"400","headers":{},"x":763,"y":535,"wires":[]},{"id":"255b9b14.0bec14","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"/*\ncria a query de insersão de dados no banco\nnesse caso a query para inserir na coleção dados,\no dado recebido fica no formato\n\ndb.dados.update({deviceToken:token}, \n                {$push : {sensor : {timestamp:<valor>, valor:<valor>} } }\n               )\n*/\n\nquery_msg = {};\nglobal.set(\"sizeData\", msg.payload.post.length);\n\nif( msg.payload.post.length == 1 )\n{\n    query_msg.query = {};\n    query_msg.query.deviceToken = msg.payload.post[0].deviceToken;\n    \n    query_msg.payload = {};\n    query_msg.payload[\"$push\"] = {};\n    query_msg.payload[\"$push\"][msg.payload.post[0].sensor] = {};\n    query_msg.payload[\"$push\"][msg.payload.post[0].sensor].timestamp = msg.payload.post[0].timestamp;\n    query_msg.payload[\"$push\"][msg.payload.post[0].sensor].valor = msg.payload.post[0].valor;\n}\nelse\n{\n    query_msg.payload = {};\n    \n    for(i = 0; i < msg.payload.post.length; i++)\n    {\n        query_msg.payload[i] = {};\n        \n        query_msg.payload[i].deviceToken = {};\n        query_msg.payload[i].deviceToken = msg.payload.post[i].deviceToken;\n        \n        query_msg.payload[i][\"$push\"] = {};\n        query_msg.payload[i][\"$push\"][msg.payload.post[i].sensor] = {};\n        query_msg.payload[i][\"$push\"][msg.payload.post[i].sensor].timestamp = msg.payload.post[i].timestamp;\n        query_msg.payload[i][\"$push\"][msg.payload.post[i].sensor].valor = msg.payload.post[i].valor;\n    }\n}\n\nreturn query_msg;","outputs":1,"noerr":0,"x":823,"y":475,"wires":[["d6103808.aa45d8"]]},{"id":"34b190d6.30e9d","type":"comment","z":"206c19c3.99a1c6","name":"Insere dados no banco","info":"Usa uma api POST para inserir dados,\nnesse caso apenas 1 dado é inserido por vez\n\nExemplo de uso\ncurl --header \"Content-Type: application/json\" --request POST http://127.0.0.1:1880/postData --data '{\"deviceToken\":\"token\",\"sensor\":\"sensor\",\"timestamp\":2,\"valor\":[1]}'\n","x":184.28571319580078,"y":404.2857313156128,"wires":[]},{"id":"7a5a10d7.e5cdc","type":"link out","z":"206c19c3.99a1c6","name":"Update on Data Viewer","links":["e6846eb4.c1125"],"x":1547.999755859375,"y":620.6665649414062,"wires":[]},{"id":"275be76.e392c18","type":"split","z":"206c19c3.99a1c6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1261,"y":560,"wires":[["91bf727e.6cbb9","1002e0de.fbf4cf"]]},{"id":"d6103808.aa45d8","type":"switch","z":"206c19c3.99a1c6","name":"","property":"sizeData","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1065,"y":476,"wires":[["7e23c808.b48d98","f146aa31.66e438"],["275be76.e392c18"]]},{"id":"91bf727e.6cbb9","type":"function","z":"206c19c3.99a1c6","name":"Ajust Payload/Query","func":"newMsg = {};\nnewMsg.payload = {}\nnewMsg.payload[\"$push\"] = msg.payload[\"$push\"];\nnewMsg.query = {}\nnewMsg.query.deviceToken = msg.payload.deviceToken;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1463,"y":560,"wires":[["7e23c808.b48d98"]],"info":"Remove o deviceToken do payload e adiciona ao query da mensagem.\nPois o query não é \"splitado\", então foi passado via payload."},{"id":"6aabd974.70bd28","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/getDeviceData/:deviceToken","method":"get","upload":false,"swaggerDoc":"","x":167.28570556640625,"y":749.142840385437,"wires":[["481ff746.dc8008"]]},{"id":"481ff746.dc8008","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":749,"wires":[["fdf7e211.03d18"]]},{"id":"fdf7e211.03d18","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dados","operation":"find","x":687,"y":749.0000114440918,"wires":[["a54a262a.a5c898"]]},{"id":"3bd230b6.c0588","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dispositivos","operation":"find","x":706.1428527832031,"y":1032.142827987671,"wires":[["cc2c485a.576888"]]},{"id":"c5ffb6b8.5fc348","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/getDeviceInfo/:deviceToken","method":"get","upload":false,"swaggerDoc":"","x":148.92855834960938,"y":1032.2856817245483,"wires":[["1dadada.159e352"]]},{"id":"1dadada.159e352","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":428.1428527832031,"y":1032.142827987671,"wires":[["3bd230b6.c0588"]]},{"id":"12ac662b.dfe08a","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nglobal.set(\"getSensor\", msg.req.params.sensor);\n\nreturn msg;","outputs":1,"noerr":0,"x":466.5,"y":829.0000114440918,"wires":[["fa7c391c.7fb7a8"]]},{"id":"66ed7cfd.dda9e4","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/getDeviceData/:deviceToken/:sensor","method":"get","upload":false,"swaggerDoc":"","x":181.78570556640625,"y":829.1428518295288,"wires":[["12ac662b.dfe08a"]]},{"id":"fa7c391c.7fb7a8","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dados","operation":"find","x":748.5,"y":829,"wires":[["7feae1f8.9086d"]]},{"id":"9cbb39.1ac494c8","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1321,"y":807,"wires":[]},{"id":"7feae1f8.9086d","type":"function","z":"206c19c3.99a1c6","name":"setResult","func":"getSensor = {};\ngetSensor = global.get(\"getSensor\");\n\nif( msg.payload.length >= 1 )\n{\n    if( msg.payload[0].hasOwnProperty(getSensor) )\n    {\n        data = msg.payload[0][getSensor];\n        msg.payload = {};\n        msg.payload[getSensor] = data;\n    }\n    else\n    {\n        msg.payload = \"\";\n    }\n}\nelse\n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1009.2857513427734,"y":828.7499942779541,"wires":[["6cc09f19.454a9"]]},{"id":"6cc09f19.454a9","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1175,"y":829,"wires":[["9cbb39.1ac494c8"],["9862f41.bdff108"]]},{"id":"9862f41.bdff108","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1340,"y":850,"wires":[]},{"id":"2e256da2.b77de2","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1209,"y":726,"wires":[]},{"id":"71092c89.41bc44","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1063,"y":749,"wires":[["2e256da2.b77de2"],["2aab90eb.e551"]]},{"id":"2aab90eb.e551","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1228,"y":769,"wires":[]},{"id":"a54a262a.a5c898","type":"function","z":"206c19c3.99a1c6","name":"setResult","func":"if( msg.payload.length >= 1 )\n{\n    msg.payload = msg.payload[0];\n}\nelse\n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":923,"y":749,"wires":[["71092c89.41bc44"]]},{"id":"7fe9bc31.687564","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1268.1428527832031,"y":1009.1428279876709,"wires":[]},{"id":"9063198f.1160f8","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1122.1428527832031,"y":1032.142827987671,"wires":[["7fe9bc31.687564"],["715eeb3e.3713d4"]]},{"id":"715eeb3e.3713d4","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1287.1428527832031,"y":1052.142827987671,"wires":[]},{"id":"cc2c485a.576888","type":"function","z":"206c19c3.99a1c6","name":"setResult","func":"if( msg.payload.length >= 1 )\n{\n    msg.payload = msg.payload[0];\n}\nelse\n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970.1428527832031,"y":1032.142827987671,"wires":[["9063198f.1160f8"]]},{"id":"d6d6ee6d.5bd37","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/getDeviceData/:deviceToken/:sensor/:quantity","method":"get","upload":false,"swaggerDoc":"","x":204.28570556640625,"y":933.000018119812,"wires":[["f94edc85.a3ffe"]]},{"id":"f94edc85.a3ffe","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nglobal.set(\"getSensor\", msg.req.params.sensor);\nglobal.set(\"getQuantity\", msg.req.params.quantity);\n\nreturn msg;","outputs":1,"noerr":0,"x":521.8571243286133,"y":932.8571968078613,"wires":[["1dfa4a65.a6e4a6"]]},{"id":"1dfa4a65.a6e4a6","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dados","operation":"find","x":803.8571243286133,"y":932.8571853637695,"wires":[["9a990afc.c14378"]]},{"id":"9a990afc.c14378","type":"function","z":"206c19c3.99a1c6","name":"setResult","func":"getSensor = {};\ngetSensor = global.get(\"getSensor\");\n\ngetQuantity = {};\ngetQuantity = global.get(\"getQuantity\");\n\nif(getQuantity <= 0)\n{\n    getQuantity = 1;\n}\n\n\nif( msg.payload.length >= 1 )\n{\n    if( msg.payload[0].hasOwnProperty(getSensor) )\n    {\n        data = msg.payload[0][getSensor];\n        data = data.slice(0).reverse();\n            \n        msg.payload = {};\n        msg.payload[getSensor] = data.slice(0, getQuantity);\n    }\n    else\n    {\n        msg.payload = \"\";\n    }\n}\nelse\n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1063.2142868041992,"y":933.03577709198,"wires":[["c7706080.5f56b"]]},{"id":"c7706080.5f56b","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1230.3571243286133,"y":932.8571853637695,"wires":[["cec92b26.721608"],["3974b462.62819c"]]},{"id":"cec92b26.721608","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1376.3571243286133,"y":910.8571853637695,"wires":[]},{"id":"3974b462.62819c","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1395.3571243286133,"y":953.8571853637695,"wires":[]},{"id":"728b954b.445c7c","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/deleteDeviceData/:deviceToken","method":"delete","upload":false,"swaggerDoc":"","x":171.42857360839844,"y":1155.7143020629883,"wires":[["32ce5a8e.8bdf86"]]},{"id":"32ce5a8e.8bdf86","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":430.6428680419922,"y":1155.5714483261108,"wires":[["4bbd3c18.a5eab4"]]},{"id":"4bbd3c18.a5eab4","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dispositivos","operation":"find","x":708.6428680419922,"y":1155.5714483261108,"wires":[["1ac56414.150e2c"]]},{"id":"cd94e965.049f38","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1298.3567523956299,"y":1103.1427669525146,"wires":[]},{"id":"d0ca78cf.719a08","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1319.6427459716797,"y":1192.7142457962036,"wires":[]},{"id":"8fd8c0f.b34e24","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"query_msg = {};\nquery_msg.query = {};\n\ndeviceToken = msg.payload[0].deviceToken;\nsensores = msg.payload[0].sensores;\n\nquery_msg.query.deviceToken = deviceToken;\n\nquery_msg.payload = {};\nquery_msg.payload.deviceToken = deviceToken;\n\nfor(i=0; i<sensores.length; i++)\n{\n    query_msg.payload[sensores[i]] = [];\n}\n\nreturn query_msg;","outputs":1,"noerr":0,"x":1356.0000114440918,"y":1148.2855892181396,"wires":[["b98c85bb.2bdbe8"]]},{"id":"b98c85bb.2bdbe8","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Remove All Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1594.1428775787354,"y":1147.8571395874023,"wires":[]},{"id":"1ac56414.150e2c","type":"function","z":"206c19c3.99a1c6","name":"\"Validate\"","func":"if( msg.payload.length >= 1 )\n{\n    msg.payload.status = 1;\n}\nelse\n{\n    msg.payload.status = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":983.571418762207,"y":1155.7142639160156,"wires":[["b2a743ea.84f43"]]},{"id":"b2a743ea.84f43","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1128.5713729858398,"y":1155.2856750488281,"wires":[["8fd8c0f.b34e24","cd94e965.049f38"],["d0ca78cf.719a08"]]},{"id":"5dfbcba2.2677a4","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/deleteDeviceData/end/:deviceToken/:sensor/:quantity","method":"delete","upload":false,"swaggerDoc":"","x":241.42857360839844,"y":1298.5714111328125,"wires":[["4208ce1b.a92f3"]]},{"id":"4208ce1b.a92f3","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nglobal.set(\"qtdEndDelete\", msg.req.params.quantity);\nglobal.set(\"senEndDelete\", msg.req.params.sensor);\n\nreturn msg;","outputs":1,"noerr":0,"x":579.2142868041992,"y":1298.4286193847656,"wires":[["89c60a68.e86f58"]]},{"id":"89c60a68.e86f58","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dispositivos","operation":"find","x":870,"y":1298.5714111328125,"wires":[["c56dd156.f4a7b"]]},{"id":"715b97d2.e3b668","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1459.7138843536377,"y":1246.1427297592163,"wires":[]},{"id":"b877ba82.1c3f18","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1480.9998779296875,"y":1335.7142086029053,"wires":[]},{"id":"d647563e.fff848","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"global.set(\"allSensorsEnd\", msg.payload[0].sensores);\n\ndeviceToken = msg.payload[0].deviceToken;\n\nmsg.payload = {}\nmsg.payload.deviceToken = deviceToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1517.3571434020996,"y":1291.2855520248413,"wires":[["ad0b3b83.d58f28"]]},{"id":"c56dd156.f4a7b","type":"function","z":"206c19c3.99a1c6","name":"\"Validate\"","func":"if( msg.payload.length >= 1 )\n{\n    msg.payload.status = 1;\n}\nelse\n{\n    msg.payload.status = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1144.9285507202148,"y":1298.7142267227173,"wires":[["66eb12ec.1c4d2c"]]},{"id":"66eb12ec.1c4d2c","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1289.9285049438477,"y":1298.2856378555298,"wires":[["d647563e.fff848","715b97d2.e3b668"],["b877ba82.1c3f18"]]},{"id":"365b7f2c.857f1","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Remove N End Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":2326.928253173828,"y":1291.8568592071533,"wires":[]},{"id":"ad0b3b83.d58f28","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dados","operation":"find","x":1834.2857666015625,"y":1291.4285888671875,"wires":[["d3fb6ebb.b10c5"]]},{"id":"d3fb6ebb.b10c5","type":"function","z":"206c19c3.99a1c6","name":"resultAdpater","func":"global.set(\"changeView\", false);\n\nallSensors = {};\nallSensors = global.get(\"allSensorsEnd\");\n\ngetSensor = {};\ngetSensor = global.get(\"senEndDelete\");\n\ngetQuantity = {};\ngetQuantity = global.get(\"qtdEndDelete\");\n\nnewMsg = {};\nnewMsg.payload = {};\nnewMsg.payload.sensor = getSensor;\n\nnewMsg.query = {};\n\nif(getQuantity < 0)\n{\n    getQuantity = 0;\n}\n\nif( msg.payload.length >= 1 )\n{\n    newMsg.payload.deviceToken = msg.payload[0].deviceToken;\n    newMsg.query.deviceToken = msg.payload[0].deviceToken;\n    \n    for(i = 0; i < allSensors.length; i++)\n    {\n        if( getSensor.localeCompare( allSensors[i] ) === 0 )\n        {\n            data = msg.payload[0][getSensor];\n            data = data.slice(0).reverse();\n            data = data.slice(getQuantity);\n            newMsg.payload[getSensor] = data.slice(0).reverse();\n        }\n        else\n        {\n            newMsg.payload[allSensors[i]] = msg.payload[0][allSensors[i]];\n        }\n        \n    }\n}\nelse\n{\n    newMsg.payload = \"\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2107.1429595947266,"y":1291.285779953003,"wires":[["365b7f2c.857f1","70261999.3ea428"]]},{"id":"52d02525.26b69c","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nglobal.set(\"qtdStartDelete\", msg.req.params.quantity);\nglobal.set(\"senStartDelete\", msg.req.params.sensor);\n\nreturn msg;","outputs":1,"noerr":0,"x":578.4999923706055,"y":1488.5714111328125,"wires":[["3591abb1.6cb544"]]},{"id":"bf10db24.ad8058","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/deleteDeviceData/start/:deviceToken/:sensor/:quantity","method":"delete","upload":false,"swaggerDoc":"","x":240.7142791748047,"y":1488.7142028808594,"wires":[["52d02525.26b69c"]]},{"id":"3591abb1.6cb544","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dispositivos","operation":"find","x":869.2857055664062,"y":1488.7142028808594,"wires":[["9e19d07.b77013"]]},{"id":"9e19d07.b77013","type":"function","z":"206c19c3.99a1c6","name":"\"Validate\"","func":"if( msg.payload.length >= 1 )\n{\n    msg.payload.status = 1;\n}\nelse\n{\n    msg.payload.status = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1144.214256286621,"y":1488.8570184707642,"wires":[["fb9e738f.e1179"]]},{"id":"fb9e738f.e1179","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1289.214210510254,"y":1488.4284296035767,"wires":[["e6bc0829.a08338","902e331a.885df"],["604b882e.52c558"]]},{"id":"e6bc0829.a08338","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"global.set(\"allSensorsStart\", msg.payload[0].sensores);\n\ndeviceToken = msg.payload[0].deviceToken;\n\nmsg.payload = {}\nmsg.payload.deviceToken = deviceToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1516.6428489685059,"y":1481.4283437728882,"wires":[["64f47b29.be7be4"]]},{"id":"902e331a.885df","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1458.999589920044,"y":1436.2855215072632,"wires":[]},{"id":"604b882e.52c558","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1480.2855834960938,"y":1525.8570003509521,"wires":[]},{"id":"64f47b29.be7be4","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dados","operation":"find","x":1833.5714721679688,"y":1481.5713806152344,"wires":[["7e129ef5.dcccc"]]},{"id":"7e129ef5.dcccc","type":"function","z":"206c19c3.99a1c6","name":"resultAdpater","func":"global.set(\"changeView\", false);\n\nallSensors = {};\nallSensors = global.get(\"allSensorsStart\");\n\ngetSensor = {};\ngetSensor = global.get(\"senStartDelete\");\n\ngetQuantity = {};\ngetQuantity = global.get(\"qtdStartDelete\");\n\nnewMsg = {};\nnewMsg.payload = {};\nnewMsg.payload.sensor = getSensor;\n\nnewMsg.query = {};\n\nif(getQuantity < 0)\n{\n    getQuantity = 0;\n}\n\nif( msg.payload.length >= 1 )\n{\n    newMsg.payload.deviceToken = msg.payload[0].deviceToken;\n    newMsg.query.deviceToken = msg.payload[0].deviceToken;\n    \n    for(i = 0; i < allSensors.length; i++)\n    {\n        if( getSensor.localeCompare( allSensors[i] ) === 0 )\n        {\n            data = msg.payload[0][getSensor];\n            newMsg.payload[getSensor] = data.slice(getQuantity);\n        }\n        else\n        {\n            newMsg.payload[allSensors[i]] = msg.payload[0][allSensors[i]];\n        }\n        \n    }\n}\nelse\n{\n    newMsg.payload = \"\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2106.428665161133,"y":1481.4285717010498,"wires":[["7d6780cf.85697","38d6bef9.7663f2"]]},{"id":"7d6780cf.85697","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Remove N Start Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":2320.2139587402344,"y":1481.9996509552002,"wires":[]},{"id":"82b2c835.05c1e8","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/deleteDeviceData/:deviceToken/:sensor/:start/:end","method":"delete","upload":false,"swaggerDoc":"","x":232.85714721679688,"y":1677.1429443359375,"wires":[["397d120a.b7531e"]]},{"id":"397d120a.b7531e","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"msg.payload = {};\nmsg.payload.deviceToken = msg.req.params.deviceToken;\n\nglobal.set(\"senStartDelete\", msg.req.params.sensor);\nglobal.set(\"startDelete\", msg.req.params.start);\nglobal.set(\"endDelete\", msg.req.params.end);\n\nreturn msg;","outputs":1,"noerr":0,"x":580.6428604125977,"y":1677.0001525878906,"wires":[["cdd742ec.63b33"]]},{"id":"cdd742ec.63b33","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dispositivos","operation":"find","x":871.4285736083984,"y":1677.1429443359375,"wires":[["7fe78f17.1b639"]]},{"id":"7fe78f17.1b639","type":"function","z":"206c19c3.99a1c6","name":"\"Validate\"","func":"if( msg.payload.length >= 1 )\n{\n    msg.payload.status = 1;\n}\nelse\n{\n    msg.payload.status = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1146.3571243286133,"y":1677.2857599258423,"wires":[["c809baf4.aa5258"]]},{"id":"c809baf4.aa5258","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1291.357078552246,"y":1676.8571710586548,"wires":[["3ee2db12.da8784","1c6b3dd5.e3e352"],["9ced237d.2cbcd"]]},{"id":"3ee2db12.da8784","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"global.set(\"allSensorsStart\", msg.payload[0].sensores);\n\ndeviceToken = msg.payload[0].deviceToken;\n\nmsg.payload = {}\nmsg.payload.deviceToken = deviceToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1518.785717010498,"y":1669.8570852279663,"wires":[["b2aaba64.a71e98"]]},{"id":"1c6b3dd5.e3e352","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1461.1424579620361,"y":1624.7142629623413,"wires":[]},{"id":"9ced237d.2cbcd","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1482.428451538086,"y":1714.2857418060303,"wires":[]},{"id":"b2aaba64.a71e98","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dados","operation":"find","x":1835.714340209961,"y":1670.0001220703125,"wires":[["549eacf6.5da714"]]},{"id":"549eacf6.5da714","type":"function","z":"206c19c3.99a1c6","name":"resultAdpater","func":"global.set(\"changeView\", false);\n\nallSensors = {};\nallSensors = global.get(\"allSensorsStart\");\n\ngetSensor = {};\ngetSensor = global.get(\"senStartDelete\");\n\nstartDate = {};\nstartDate = global.get(\"startDelete\");\nstartDate = new Date(startDate);\n\nendDate = {};\nendDate = global.get(\"endDelete\");\nendDate = new Date(endDate);\n\n\nnewMsg = {};\nnewMsg.payload = {};\nnewMsg.payload.sensor = getSensor;\n\nnewMsg.query = {};\n\nif( msg.payload.length >= 1 )\n{\n    newMsg.payload.deviceToken = msg.payload[0].deviceToken;\n    newMsg.query.deviceToken = msg.payload[0].deviceToken;\n    \n    for(i = 0; i < allSensors.length; i++)\n    {\n        if( getSensor.localeCompare( allSensors[i] ) === 0 )\n        {\n            newArray = [];\n            \n            for(j = 0; j < msg.payload[0][getSensor].length; j++ )\n            {\n                dataTime = new Date(msg.payload[0][getSensor][j].timestamp);\n                \n                if(  !(dataTime.getTime() > startDate.getTime() && dataTime.getTime() < endDate.getTime()) )\n                {\n                    newArray.push( msg.payload[0][getSensor][j] );\n                }\n            }\n            \n            newMsg.payload[getSensor] = newArray;\n        }\n        else\n        {\n            newMsg.payload[allSensors[i]] = msg.payload[0][allSensors[i]];\n        }\n        \n    }\n}\nelse\n{\n    newMsg.payload = \"\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2108.571533203125,"y":1669.857313156128,"wires":[["1c28d1f5.1d3ffe","b69b2845.6fa718"]]},{"id":"1c28d1f5.1d3ffe","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Remove N Interval Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":2339.785430908203,"y":1669.8569564819336,"wires":[]},{"id":"9a23e86f.d62d88","type":"http in","z":"206c19c3.99a1c6","name":"","url":"/updateDeviceData/:deviceToken/:sensor","method":"put","upload":false,"swaggerDoc":"","x":195.71429443359375,"y":1855.71435546875,"wires":[["41f73cfa.7a33d4"]]},{"id":"41f73cfa.7a33d4","type":"function","z":"206c19c3.99a1c6","name":"formatQuery","func":"global.set(\"oldTimestamp\", msg.payload.old.timestamp);\nglobal.set(\"oldValue\", msg.payload.old.valor);\nglobal.set(\"newTimestamp\", msg.payload.new.timestamp);\nglobal.set(\"newValue\", msg.payload.new.valor);\n\nmsg.payload = {}\nmsg.payload = msg.req.params.deviceToken;\n\nglobal.set(\"sensorUpdate\", msg.req.params.sensor);\n\nreturn msg;","outputs":1,"noerr":0,"x":542.0714530944824,"y":1856.1429471969604,"wires":[["a596b8fc.de6c68"]]},{"id":"a596b8fc.de6c68","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dispositivos","operation":"find","x":874.2857208251953,"y":1855.71435546875,"wires":[["ff2c7236.9bdbe"]]},{"id":"ff2c7236.9bdbe","type":"function","z":"206c19c3.99a1c6","name":"\"Validate\"","func":"if( msg.payload.length >= 1 )\n{\n    msg.payload.status = 1;\n}\nelse\n{\n    msg.payload.status = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1149.2142715454102,"y":1855.8571710586548,"wires":[["6452867e.6c7118"]]},{"id":"6452867e.6c7118","type":"switch","z":"206c19c3.99a1c6","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1294.214225769043,"y":1855.4285821914673,"wires":[["55f4b79d.be2828","dc3d99db.5b2458"],["ab5a4245.7af76"]]},{"id":"55f4b79d.be2828","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"global.set(\"allSensorsStart\", msg.payload[0].sensores);\n\ndeviceToken = msg.payload[0].deviceToken;\n\nmsg.payload = {}\nmsg.payload.deviceToken = deviceToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1521.642864227295,"y":1848.4284963607788,"wires":[["a0c8b1af.bddaa"]]},{"id":"dc3d99db.5b2458","type":"http response","z":"206c19c3.99a1c6","name":"OK","statusCode":"200","headers":{},"x":1463.999605178833,"y":1803.2856740951538,"wires":[]},{"id":"ab5a4245.7af76","type":"http response","z":"206c19c3.99a1c6","name":"Bad Request","statusCode":"400","headers":{},"x":1485.2855987548828,"y":1892.8571529388428,"wires":[]},{"id":"a0c8b1af.bddaa","type":"mongodb in","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"","collection":"dados","operation":"find","x":1838.5714874267578,"y":1848.571533203125,"wires":[["ceaf9b8a.ac2b68"]]},{"id":"ceaf9b8a.ac2b68","type":"function","z":"206c19c3.99a1c6","name":"resultAdpater","func":"allSensors = {};\nallSensors = global.get(\"allSensorsStart\");\n\ngetSensor = {};\ngetSensor = global.get(\"sensorUpdate\");\n\noldTimestamp = {};\noldTimestamp = global.get(\"oldTimestamp\");\noldTimestamp = new Date(oldTimestamp);\noldValue = {};\noldValue = global.get(\"oldValue\");\n\nnewTimestamp = {};\nnewTimestamp = global.get(\"newTimestamp\");\nnewValue = {};\nnewValue = global.get(\"newValue\");\n\nnewMsg = {};\nnewMsg.payload = {};\n\nnewMsg.query = {};\n\nif( msg.payload.length >= 1 )\n{\n    newMsg.payload.deviceToken = msg.payload[0].deviceToken;\n    newMsg.query.deviceToken = msg.payload[0].deviceToken;\n    \n    for(i = 0; i < allSensors.length; i++)\n    {\n        if( getSensor.localeCompare( allSensors[i] ) === 0 )\n        {\n            for(j = 0; j < msg.payload[0][getSensor].length; j++ )\n            {\n                dataTime = new Date(msg.payload[0][getSensor][j].timestamp);\n                valor = msg.payload[0][getSensor][j].valor;\n                \n                if(  dataTime.getTime() == oldTimestamp.getTime() && valor == oldValue )\n                {\n                    msg.payload[0][getSensor][j].timestamp = newTimestamp;\n                    msg.payload[0][getSensor][j].valor = newValue;\n                }\n            }\n            \n            newMsg.payload[getSensor] = msg.payload[0][getSensor];\n        }\n        else\n        {\n            newMsg.payload[allSensors[i]] = msg.payload[0][allSensors[i]];\n        }\n    }\n}\nelse\n{\n    newMsg.payload = \"\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2111.428680419922,"y":1848.4287242889404,"wires":[["f0f09b3d.3e1b98"]]},{"id":"f0f09b3d.3e1b98","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Update Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":2295.2139739990234,"y":1848.9998035430908,"wires":[]},{"id":"25a83144.99db5e","type":"mqtt in","z":"206c19c3.99a1c6","name":"","topic":"/dispositivo1/temperatura","qos":"2","datatype":"auto","broker":"7a6a6754.745208","x":129.99999237060547,"y":2247.1429586410522,"wires":[["57f40576.1fb72c"]]},{"id":"fe6c8608.724d98","type":"mosca in","z":"206c19c3.99a1c6","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT Borker","username":"","password":"","dburl":"","x":95.71428680419922,"y":2164.2856788635254,"wires":[["c89deb47.64fde8"]]},{"id":"3934048d.09098c","type":"function","z":"206c19c3.99a1c6","name":"validation","func":"var status = 1;\n/*\ntesta se a requisiçao veio correta\nnesse caso, apenas a atualização de um\nsensor por dispositivo é feita\n*/\n\n/*\nseria legal adicionar aqui um teste\npara verificar se o sensor desejado:\n1 - está cadastrado\n2 - Possui o sensor que está sendo atualizado\nIsso pode ser feito usando o próprio banco\nna collection dispositivos.\n*/\n\nif (Object.entries(msg.payload).length == 4 &&\n    msg.payload.hasOwnProperty('deviceToken') &&\n    msg.payload.hasOwnProperty('sensor') &&\n    msg.payload.hasOwnProperty('timestamp') && \n    msg.payload.hasOwnProperty('valor'))\n{\n    status = 1;\n}\n\nmsg.payload.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":615.714319229126,"y":2246.7142477035522,"wires":[["d8dfa2e4.f4b99"]]},{"id":"57f40576.1fb72c","type":"function","z":"206c19c3.99a1c6","name":"decodeJson","func":"var obj = JSON.parse( msg.payload );\n\nmsg.payload = {};\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":398.57144927978516,"y":2247.1428174972534,"wires":[["3934048d.09098c"]]},{"id":"f76dace2.41458","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"/*\ncria a query de insersão de dados no banco\nnesse caso a query para inserir na coleção dados,\no dado recebido fica no formato\n\ndb.dados.update({deviceToken:token}, \n                {$push : {sensor : {timestamp:<valor>, valor:<valor>} } }\n               )\n*/\n\nquery_msg = {};\n\nquery_msg.query = {};\nquery_msg.query.deviceToken = msg.payload.deviceToken;\n\nquery_msg.payload = {};\nquery_msg.payload[\"$push\"] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor].timestamp = msg.payload.timestamp;\nquery_msg.payload[\"$push\"][msg.payload.sensor].valor = msg.payload.valor;\n\nreturn query_msg;","outputs":1,"noerr":0,"x":1008.5714721679688,"y":2239.71435546875,"wires":[["1542aac3.7cebe5","65b34665.36edf8"]]},{"id":"1542aac3.7cebe5","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Insert Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1228.142822265625,"y":2255.4287109375,"wires":[]},{"id":"d8dfa2e4.f4b99","type":"switch","z":"206c19c3.99a1c6","name":"router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":788.5714721679688,"y":2246.71435546875,"wires":[["f76dace2.41458"],[]]},{"id":"91f6c28.55f204","type":"mqtt in","z":"206c19c3.99a1c6","name":"","topic":"/dispositivo1/som","qos":"2","datatype":"auto","broker":"7a6a6754.745208","x":100,"y":2320,"wires":[["16ec306f.c0f2f"]]},{"id":"16ec306f.c0f2f","type":"function","z":"206c19c3.99a1c6","name":"decodeJson","func":"var obj = JSON.parse( msg.payload );\n\nmsg.payload = {};\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":398.5714569091797,"y":2319.999858856201,"wires":[["e4c45ff6.89542"]]},{"id":"e4c45ff6.89542","type":"function","z":"206c19c3.99a1c6","name":"validation","func":"var status = 1;\n/*\ntesta se a requisiçao veio correta\nnesse caso, apenas a atualização de um\nsensor por dispositivo é feita\n*/\n\n/*\nseria legal adicionar aqui um teste\npara verificar se o sensor desejado:\n1 - está cadastrado\n2 - Possui o sensor que está sendo atualizado\nIsso pode ser feito usando o próprio banco\nna collection dispositivos.\n*/\n\nif (Object.entries(msg.payload).length == 4 &&\n    msg.payload.hasOwnProperty('deviceToken') &&\n    msg.payload.hasOwnProperty('sensor') &&\n    msg.payload.hasOwnProperty('timestamp') && \n    msg.payload.hasOwnProperty('valor'))\n{\n    status = 1;\n}\n\nmsg.payload.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":615.7143268585205,"y":2319.5712890625,"wires":[["cc3d3fe.cac6bc"]]},{"id":"cc3d3fe.cac6bc","type":"switch","z":"206c19c3.99a1c6","name":"router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":788.5714797973633,"y":2319.5713968276978,"wires":[["33b3fd98.313b12"],[]]},{"id":"33b3fd98.313b12","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"/*\ncria a query de insersão de dados no banco\nnesse caso a query para inserir na coleção dados,\no dado recebido fica no formato\n\ndb.dados.update({deviceToken:token}, \n                {$push : {sensor : {timestamp:<valor>, valor:<valor>} } }\n               )\n*/\n\nquery_msg = {};\n\nquery_msg.query = {};\nquery_msg.query.deviceToken = msg.payload.deviceToken;\n\nquery_msg.payload = {};\nquery_msg.payload[\"$push\"] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor].timestamp = msg.payload.timestamp;\nquery_msg.payload[\"$push\"][msg.payload.sensor].valor = msg.payload.valor;\n\nreturn query_msg;","outputs":1,"noerr":0,"x":1008.5714797973633,"y":2312.5713968276978,"wires":[["5d5ca53d.5ac59c","c277c75e.bdb4a8"]]},{"id":"5d5ca53d.5ac59c","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Insert Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1231.142822265625,"y":2338.28564453125,"wires":[]},{"id":"ea7fef09.36819","type":"mqtt in","z":"206c19c3.99a1c6","name":"","topic":"/dispositivo1/luminosidade","qos":"2","datatype":"auto","broker":"7a6a6754.745208","x":130,"y":2394.28564453125,"wires":[["a9b5da3d.83e168"]]},{"id":"a9b5da3d.83e168","type":"function","z":"206c19c3.99a1c6","name":"decodeJson","func":"var obj = JSON.parse( msg.payload );\n\nmsg.payload = {};\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":398.5714569091797,"y":2394.285503387451,"wires":[["4001da08.579c14"]]},{"id":"4001da08.579c14","type":"function","z":"206c19c3.99a1c6","name":"validation","func":"var status = 1;\n/*\ntesta se a requisiçao veio correta\nnesse caso, apenas a atualização de um\nsensor por dispositivo é feita\n*/\n\n/*\nseria legal adicionar aqui um teste\npara verificar se o sensor desejado:\n1 - está cadastrado\n2 - Possui o sensor que está sendo atualizado\nIsso pode ser feito usando o próprio banco\nna collection dispositivos.\n*/\n\nif (Object.entries(msg.payload).length == 4 &&\n    msg.payload.hasOwnProperty('deviceToken') &&\n    msg.payload.hasOwnProperty('sensor') &&\n    msg.payload.hasOwnProperty('timestamp') && \n    msg.payload.hasOwnProperty('valor'))\n{\n    status = 1;\n}\n\nmsg.payload.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":615.7143268585205,"y":2393.85693359375,"wires":[["8e2276cf.9de1f8"]]},{"id":"8e2276cf.9de1f8","type":"switch","z":"206c19c3.99a1c6","name":"router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":788.5714797973633,"y":2393.8570413589478,"wires":[["64cd7756.78abd8"],[]]},{"id":"64cd7756.78abd8","type":"function","z":"206c19c3.99a1c6","name":"update/insert data query","func":"/*\ncria a query de insersão de dados no banco\nnesse caso a query para inserir na coleção dados,\no dado recebido fica no formato\n\ndb.dados.update({deviceToken:token}, \n                {$push : {sensor : {timestamp:<valor>, valor:<valor>} } }\n               )\n*/\n\nquery_msg = {};\n\nquery_msg.query = {};\nquery_msg.query.deviceToken = msg.payload.deviceToken;\n\nquery_msg.payload = {};\nquery_msg.payload[\"$push\"] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor].timestamp = msg.payload.timestamp;\nquery_msg.payload[\"$push\"][msg.payload.sensor].valor = msg.payload.valor;\n\nreturn query_msg;","outputs":1,"noerr":0,"x":1008.5714797973633,"y":2386.8570413589478,"wires":[["22d61991.5004a6","951bbe30.bb8bc"]]},{"id":"22d61991.5004a6","type":"mongodb out","z":"206c19c3.99a1c6","mongodb":"f8e2d0b4.b4e77","name":"Insert Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1227.142822265625,"y":2414.5712890625,"wires":[]},{"id":"57e82209.0eb34c","type":"debug","z":"206c19c3.99a1c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":514.6401214599608,"y":606.4961942036946,"wires":[]},{"id":"e36ab208.b1a0a","type":"link out","z":"206c19c3.99a1c6","name":"Update on Data Viewer","links":["e6846eb4.c1125"],"x":1331.4781494140625,"y":400.3730773925781,"wires":[]},{"id":"81a4201d.7ef48","type":"link in","z":"206c19c3.99a1c6","name":"InIntervalRemove","links":["9a46d6b7.4af278"],"x":464,"y":1743,"wires":[["397d120a.b7531e"]]},{"id":"55631c33.14db84","type":"link in","z":"206c19c3.99a1c6","name":"InFirstRemove","links":["338581db.b57e8e"],"x":464,"y":1542,"wires":[["52d02525.26b69c"]]},{"id":"8b9270bf.1ebb5","type":"link in","z":"206c19c3.99a1c6","name":"InLastRemove","links":["e1955007.bf1b"],"x":456,"y":1361,"wires":[["4208ce1b.a92f3"]]},{"id":"c39bef50.2f6b8","type":"link out","z":"206c19c3.99a1c6","name":"","links":["68c49843.f50568"],"x":2434,"y":1363,"wires":[]},{"id":"70261999.3ea428","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2303,"y":1363,"wires":[["c39bef50.2f6b8"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"f4337167.a6a2b","type":"link out","z":"206c19c3.99a1c6","name":"","links":["68c49843.f50568"],"x":2422,"y":1554,"wires":[]},{"id":"38d6bef9.7663f2","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2291,"y":1554,"wires":[["f4337167.a6a2b"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"152be262.911d8e","type":"link out","z":"206c19c3.99a1c6","name":"","links":["68c49843.f50568"],"x":2426,"y":1743,"wires":[]},{"id":"b69b2845.6fa718","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2295,"y":1743,"wires":[["152be262.911d8e"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"1002e0de.fbf4cf","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1428,"y":621,"wires":[["7a5a10d7.e5cdc"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"f146aa31.66e438","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":401,"wires":[["e36ab208.b1a0a"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"c89deb47.64fde8","type":"debug","z":"206c19c3.99a1c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":264,"y":2149,"wires":[]},{"id":"f561f7c5.e4d208","type":"link out","z":"206c19c3.99a1c6","name":"Update on Data Viewer","links":["e6846eb4.c1125"],"x":1354,"y":2220,"wires":[]},{"id":"65b34665.36edf8","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1234.000244140625,"y":2220.3334350585938,"wires":[["f561f7c5.e4d208"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"8bdc812.008568","type":"link out","z":"206c19c3.99a1c6","name":"Update on Data Viewer","links":["e6846eb4.c1125"],"x":1357,"y":2304,"wires":[]},{"id":"c277c75e.bdb4a8","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1237.000244140625,"y":2304.3334350585938,"wires":[["8bdc812.008568"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"a835c89e.e00988","type":"link out","z":"206c19c3.99a1c6","name":"Update on Data Viewer","links":["e6846eb4.c1125"],"x":1355,"y":2381,"wires":[]},{"id":"951bbe30.bb8bc","type":"delay","z":"206c19c3.99a1c6","name":"Wait db Update","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1235.000244140625,"y":2381.3334350585938,"wires":[["a835c89e.e00988"]],"info":"Essa espera é usada para que o sistema\nespere o dispositivo ser realmente inserido no banco\nantes de atualizar a lista de dispositivos\ncadastrados"},{"id":"f8e2d0b4.b4e77","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotmiddleware","name":""},{"id":"7a6a6754.745208","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
