NodeRed-Flows/Device Data Viewer.json
[{"id":"7e83adea.572ee4","type":"tab","label":"Device Data Viewer","disabled":false,"info":""},{"id":"eadb4d0d.02e9f","type":"ui_template","z":"7e83adea.572ee4","group":"5b8c848f.6cd91c","name":"Sensors","order":1,"width":"8","height":"3","format":"<!--\n  cria uma tabela com os sensores e um botão\n  quando o botão é pressionado o template envia\n  o nome do sensor como payload. Esse valor\n  é usado para preencher a tabela de dados\n-->\n<style>\n    table, th, td {\n      border-bottom: 1px solid #ccc;\n      border-collapse: collapse;\n    }\n    tr:hover {\n      background-color: #000022;\n    }\n    th {\n      text-align: left;\n    }\n</style>\n\n<table>\n  <tr>\n    <th>Sensor</th>\n    <th>Visualizar</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload[0].sensores\">\n    <td>{{x}}</td>\n    <td>\n        <md-button style=\"margin: 0px 0px 0px 0px;\" ng-click=\"send({payload: {view:'table', 'sensor':x}})\">Tabela</md-button>\n        <md-button style=\"margin: 0px 0px 0px 0px;\" ng-click=\"send({payload: {view:'graph', 'sensor':x}})\">Grafico</md-button>\n    </td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":742.9999847412109,"y":326.66666889190674,"wires":[["3915ee19.a78e32"]]},{"id":"76fdde5c.af0fd","type":"ui_ui_control","z":"7e83adea.572ee4","name":"","x":165,"y":233.33333778381348,"wires":[["2a30956d.025fca"]]},{"id":"2a30956d.025fca","type":"function","z":"7e83adea.572ee4","name":"Device Data?","func":"\nmsg.status = 0;\n\n/*testa se a tela corrente é a Device Data*/\nvar screen = global.get(\"screen\");\n\nif (screen == \"Device Data\"){\n    msg.status = 1;\n    msg.payload = {};\n    msg.payload.deviceId = global.get(\"selectedDev\").deviceId;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":185,"y":333.3333377838135,"wires":[["56f5ee15.1a20a"]]},{"id":"56f5ee15.1a20a","type":"switch","z":"7e83adea.572ee4","name":"update?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":383.33331871032715,"y":333.3333168029785,"wires":[["4f55f867.d224d8"],[]]},{"id":"4f55f867.d224d8","type":"mongodb in","z":"7e83adea.572ee4","mongodb":"8f5cdd6d.e744d","name":"find dispositivos","collection":"dispositivos","operation":"find","x":558.3332672119141,"y":326.6666507720947,"wires":[["eadb4d0d.02e9f"]]},{"id":"c68c7fbe.923d9","type":"ui_chart","z":"7e83adea.572ee4","name":"","group":"de982014.b18f5","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1751.6664276123047,"y":271.6666350364685,"wires":[[]]},{"id":"441d959c.448f9c","type":"mongodb in","z":"7e83adea.572ee4","mongodb":"8f5cdd6d.e744d","name":"find data","collection":"dados","operation":"find","x":1314.999912261963,"y":248.33329057693481,"wires":[["84bbdbdb.4b6418","36c5755.2fee38a"]]},{"id":"2dce755f.91edca","type":"function","z":"7e83adea.572ee4","name":"Device Data?","func":"\n/*\n    para retornar todos os dados relacionados a um sensor\n    usamos o device token e selecionamos o campo\n    que queremos que o banco retorne.\n    EX: db.dados.find({deviceToken :\"token\"}, {sensor:1})\n    \n    No caso de um array, se quremos que o banco retorne\n    apenas alguns elmentos do array de dados do sensor\n    fazemos\n    EX: \n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : 20}}) //20 primeiros\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : -20}}) //20 ultimos\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : [20, 20]}}) //janela de 20 elementos, ignorando os 20 primeiros\n    \n*/\nsensor = msg.payload.sensor;\nflow.set(\"seletectSensor\", sensor);\n\nselectedDev = global.get(\"selectedDev\");\n\nmsg.payload = {};\nmsg.payload.deviceToken = selectedDev.deviceToken;\n\n// usado para filtrar o resultado\nmsg.projection = {};\n// remove todos os outros sensores da query\nfor (i =0; i<selectedDev.sensores.length; i++)\n    msg.projection[selectedDev.sensores[i]] = 0;\n// filtra apenas o sensor especifico\nmsg.projection[sensor] = {};\n\n// limita o tamanho do vetor de dados\nmsg.projection[sensor][\"$slice\"] = -100;\n\nreturn msg;","outputs":1,"noerr":0,"x":1109.999984741211,"y":247.99996089935303,"wires":[["441d959c.448f9c","a0ffbe4e.afe29"]]},{"id":"84bbdbdb.4b6418","type":"function","z":"7e83adea.572ee4","name":"Create Chart","func":"selectedSensor = flow.get(\"seletectSensor\");\nsensorData = msg.payload[0][selectedSensor]\n\nchangeView = global.get(\"changeView\");\n\nmsg1={};\nmsg2={};\n\nif(sensorData.length > 1){\n    /*exibe o gráfico*/\n    if( changeView === true)\n        msg1.payload = {group:{ show:[\"Device_Data_Grafico\"], hide:[\"Device_Data_Tabela\"] }};\n    \n    /*\n    Transforma o vetor do banco em dados para o gráfico\n    */\n    var chart = [{\n        \"series\":[selectedSensor],\n        \"data\":[],\n        \"labels\":[selectedSensor]\n    }];\n    \n    /*\n    estranho? mas é assim mesmo\n    inicializa o elemento 0, do vetor data,\n    que esta dentro do elemento 0 do vetor chart,\n    com um vetor vazio\n    */\n    chart[0].data[0] = [];\n    msg2.payload=chart;\n    for(i=0; i<sensorData.length; i++)\n        msg2.payload[0].data[0].push( {\"x\" : sensorData[i].timestamp, \"y\": sensorData[i].valor});\n}\nelse{\n    msg1.payload = {group:{ hide:[\"Device_Data_Grafico\"]} };\n    msg2.payload = [];\n}\nreturn [msg1, msg2];\n","outputs":2,"noerr":0,"x":1504.999912261963,"y":248.33329057693481,"wires":[["7ab3edb2.c5f6a4"],["c6641638.89edd8","c68c7fbe.923d9"]]},{"id":"36c5755.2fee38a","type":"debug","z":"7e83adea.572ee4","name":"Find values","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1504.999912261963,"y":308.3332905769348,"wires":[]},{"id":"a0ffbe4e.afe29","type":"debug","z":"7e83adea.572ee4","name":"Find values 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1279.9998950958252,"y":319.99996519088745,"wires":[]},{"id":"7ab3edb2.c5f6a4","type":"ui_ui_control","z":"7e83adea.572ee4","name":"","x":1754.999912261963,"y":228.33329057693481,"wires":[[]]},{"id":"c6641638.89edd8","type":"debug","z":"7e83adea.572ee4","name":"Chart vals","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1751.6666069030762,"y":324.99993896484375,"wires":[]},{"id":"e6846eb4.c1125","type":"link in","z":"7e83adea.572ee4","name":"","links":["7a5a10d7.e5cdc","e36ab208.b1a0a","3d2ee00b.269c9","6742689a.1816c8","99d2c8ba.555d48","651bb033.f0f89","a97fd354.7ef84","d2def412.2f2448","778f8290.d1540c","f561f7c5.e4d208","8bdc812.008568","a835c89e.e00988"],"x":1329.999912261963,"y":168.33329057693481,"wires":[["c94b37d3.8d72e8","1983f4ec.a30a4b"]]},{"id":"c94b37d3.8d72e8","type":"function","z":"7e83adea.572ee4","name":"Update Real Time","func":"realTime = flow.get(\"realTime\");\n\n/*\ntesta se a mensagem POST de dados recebida\nfoi para o sensor que está sendo visualizado\ncaso positivo, atualiza o gráfico em tempo\nreal\n*/\n\nselectedSensor = flow.get(\"seletectSensor\");\nselectedDevice = global.get(\"selectedDev\");\n\nnode.log(\"selected dev \" + selectedDevice)\nnode.log(\"selected sensor \" + selectedSensor)\n\ntokenMsg = {};\n\nif( !msg.payload.hasOwnProperty(\"deviceToken\") )\n{\n    if(msg.hasOwnProperty(\"query\"))\n    {\n        tokenMsg = msg.query.deviceToken;\n    }\n}\nelse\n{\n    tokenMsg = msg.payload.deviceToken;\n}\n\n\nif(tokenMsg == selectedDevice.deviceToken &&\n  msg.payload[\"$push\"].hasOwnProperty(selectedSensor) ){\n\n    /*exibe o gráfico, senão estiver sendo exibido*/\n    msg1={};\n    msg1.payload = {group:{ show:[\"Device_Data_Grafico\"]} };\n    \n    \n    if(realTime === 0)\n    {\n        flow.set(\"realTime\", 1);\n        msg2 = {};\n        msg2.payload = [];\n        return [msg1, msg2];\n    }\n    else\n    {\n        /*cria a mensagem de atualizacao do gráfico*/\n        time = msg.payload[\"$push\"][selectedSensor].timestamp;\n        msg2={topic:selectedSensor, label:selectedSensor, timestamp:time, payload:msg.payload[\"$push\"][selectedSensor].valor}\n\n        return [msg1, msg2];\n    }\n}\n\nreturn msg;\n","outputs":2,"noerr":0,"x":1484.999912261963,"y":168.33329057693481,"wires":[["7ab3edb2.c5f6a4","4be261f4.dc2d8"],["c68c7fbe.923d9","720b90bc.17b08"]]},{"id":"720b90bc.17b08","type":"debug","z":"7e83adea.572ee4","name":"RT update","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1744.999912261963,"y":128.33329057693481,"wires":[]},{"id":"d1253cd4.fa66c","type":"ui_button","z":"7e83adea.572ee4","name":"","group":"5b8c848f.6cd91c","order":1,"width":0,"height":0,"passthru":false,"label":"Back to Device Manager","tooltip":"Back to Device Manager","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":206,"y":693,"wires":[["9c2e329f.0b7f3"]]},{"id":"258b143.ea405ec","type":"ui_ui_control","z":"7e83adea.572ee4","name":"","x":656,"y":693,"wires":[[]]},{"id":"9c2e329f.0b7f3","type":"function","z":"7e83adea.572ee4","name":"Go to Device Manager","func":"\n/*\nretorna para a tela de login quando a aba\nlog-out é clicada\n*/\n\nmsg.payload = {tab:\"Device Manager\",\n               group:{hide:[\"Device_Data_Grafico\"]}\n              }\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":456,"y":693,"wires":[["258b143.ea405ec","cf6a20a2.6a6ea"]]},{"id":"cf6a20a2.6a6ea","type":"link out","z":"7e83adea.572ee4","name":"","links":[],"x":611,"y":773,"wires":[]},{"id":"4e93ae3c.60977","type":"inject","z":"7e83adea.572ee4","name":"setup","topic":"","payload":"setup","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":155,"y":73.33333778381348,"wires":[["188095f9.6518fa"]]},{"id":"188095f9.6518fa","type":"function","z":"7e83adea.572ee4","name":"UI Setup","func":"typeUser = global.get(\"typeUser\");\n\nflow.set(\"realTime\", 0)\n\nif( typeUser === 0)\n{\n    msg.payload = {\n               group:{ show:[\"Device_Data_Remove_Data\"], hide:[\"Device_Data_Grafico\", \"Device_Data_Tabela\"]}\n              }\n}\nelse\n{\n    msg.payload = {\n               group:{ hide:[\"Device_Data_Grafico\", \"Device_Data_Tabela\", \"Device_Data_Remove_Data\"]}\n              }\n}\n              \n/*muda a tela para a tela \"Device Manager\"*/\nif (msg.payload != \"setup\")\n    global.set(\"screen\", \"Device Data\")\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":165,"y":133.33333778381348,"wires":[["76fdde5c.af0fd","9295ba47.fbcc68"]]},{"id":"74dd1007.c2d87","type":"link in","z":"7e83adea.572ee4","name":"Device Data Ui Setup","links":["8452cfff.498c1"],"x":46,"y":154.33333587646484,"wires":[["188095f9.6518fa"]]},{"id":"1983f4ec.a30a4b","type":"debug","z":"7e83adea.572ee4","name":"RT update 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1503.333164215088,"y":116.66661500930786,"wires":[]},{"id":"95df926.c31ea7","type":"switch","z":"7e83adea.572ee4","name":"","property":"payload.view","propertyType":"msg","rules":[{"t":"eq","v":"graph","vt":"str"},{"t":"eq","v":"table","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":897.2206039428711,"y":326.7234592437744,"wires":[["2dce755f.91edca"],["8a5aa380.849a5"]]},{"id":"8d923931.462108","type":"mongodb in","z":"7e83adea.572ee4","mongodb":"8f5cdd6d.e744d","name":"find data","collection":"dados","operation":"find","x":1308.35693359375,"y":454.1003723144531,"wires":[["ab2a335a.1a2a2","738984a6.7e804c"]]},{"id":"8a5aa380.849a5","type":"function","z":"7e83adea.572ee4","name":"Device Data?","func":"\n/*\n    para retornar todos os dados relacionados a um sensor\n    usamos o device token e selecionamos o campo\n    que queremos que o banco retorne.\n    EX: db.dados.find({deviceToken :\"token\"}, {sensor:1})\n    \n    No caso de um array, se quremos que o banco retorne\n    apenas alguns elmentos do array de dados do sensor\n    fazemos\n    EX: \n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : 20}}) //20 primeiros\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : -20}}) //20 ultimos\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : [20, 20]}}) //janela de 20 elementos, ignorando os 20 primeiros\n    \n*/\nsensor = msg.payload.sensor;\nflow.set(\"seletectSensor\", sensor);\n\nselectedDev = global.get(\"selectedDev\");\n\nmsg.payload = {};\nmsg.payload.deviceToken = selectedDev.deviceToken;\n\n// usado para filtrar o resultado\nmsg.projection = {};\n// remove todos os outros sensores da query\nfor (i =0; i<selectedDev.sensores.length; i++)\n    msg.projection[selectedDev.sensores[i]] = 0;\n// filtra apenas o sensor especifico\nmsg.projection[sensor] = {};\n\n// limita o tamanho do vetor de dados\nmsg.projection[sensor][\"$slice\"] = 50;\n\nreturn msg;","outputs":1,"noerr":0,"x":1103.357006072998,"y":453.76704263687134,"wires":[["8d923931.462108","dc4a9ab.c11f868"]]},{"id":"ab2a335a.1a2a2","type":"function","z":"7e83adea.572ee4","name":"Create Table","func":"selectedSensor = flow.get(\"seletectSensor\");\nsensorData = msg.payload[0][selectedSensor]\n\nchangeView = global.get(\"changeView\");\n\nmsg1 = {};\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.sensor = selectedSensor;\nmsg2.payload[selectedSensor] = sensorData;\n\nif(changeView === true)\n{\n    if(sensorData.length > 1)\n    {\n        /*exibe o gráfico*/\n        msg1.payload = {group:{ show:[\"Device_Data_Tabela\"], hide:[\"Device_Data_Grafico\"] }};\n    }\n    else\n    {\n        msg1.payload = {group:{ hide:[\"Device_Data_Tabela\"]} };\n        //msg2.payload = [];\n    }\n}\n\nreturn [msg1, msg2];\n","outputs":2,"noerr":0,"x":1498.35693359375,"y":454.1003723144531,"wires":[["dbdad8a0.3bcee8"],["280a530a.2c166c","ddf85a5c.b46628"]]},{"id":"738984a6.7e804c","type":"debug","z":"7e83adea.572ee4","name":"Find values","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1498.35693359375,"y":514.1003723144531,"wires":[]},{"id":"dc4a9ab.c11f868","type":"debug","z":"7e83adea.572ee4","name":"Find values 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1273.3569164276123,"y":525.7670469284058,"wires":[]},{"id":"27aa31b3.599e7e","type":"ui_template","z":"7e83adea.572ee4","group":"12df0332.cb2bcd","name":"","order":0,"width":0,"height":0,"format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Timestamp</td>\n    <td>Valor</td>\n  </tr>\n  <tr ng-repeat=\"obj in msg.payload[msg.payload.sensor]\">\n    <td>{{ obj.timestamp }}</td>\n    <td>{{ obj.valor }}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1887.3810501098633,"y":475.8096103668213,"wires":[[]]},{"id":"280a530a.2c166c","type":"debug","z":"7e83adea.572ee4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1742.3671798706055,"y":527.4004287719727,"wires":[]},{"id":"dbdad8a0.3bcee8","type":"ui_ui_control","z":"7e83adea.572ee4","name":"","x":1727.7508239746094,"y":423.342791557312,"wires":[[]]},{"id":"ddf85a5c.b46628","type":"template","z":"7e83adea.572ee4","name":"css","field":"style","fieldType":"msg","format":"css","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":1719.41743850708,"y":476.0094184875488,"wires":[["27aa31b3.599e7e"]]},{"id":"809e177e.9eab88","type":"ui_button","z":"7e83adea.572ee4","name":"","group":"de982014.b18f5","order":1,"width":0,"height":0,"passthru":false,"label":"Hide Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":162,"y":511,"wires":[["6313467d.39b508"]]},{"id":"5dd35863.a7ba08","type":"ui_button","z":"7e83adea.572ee4","name":"","group":"12df0332.cb2bcd","order":2,"width":0,"height":0,"passthru":false,"label":"Hide Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":163,"y":594,"wires":[["8520b460.5827b8"]]},{"id":"ad381e19.fbb4f","type":"ui_ui_control","z":"7e83adea.572ee4","name":"","x":590.25,"y":594,"wires":[[]]},{"id":"8520b460.5827b8","type":"function","z":"7e83adea.572ee4","name":"Hide Tabela","func":"msg.payload = {group:{ hide:[\"Device_Data_Tabela\"] }};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":346.24999237060547,"y":594.25,"wires":[["ad381e19.fbb4f"]]},{"id":"76858bf8.57fe44","type":"ui_ui_control","z":"7e83adea.572ee4","name":"","x":590,"y":511,"wires":[[]]},{"id":"6313467d.39b508","type":"function","z":"7e83adea.572ee4","name":"Hide Grafico","func":"msg.payload = {group:{ hide:[\"Device_Data_Grafico\"] }};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":345.99999237060547,"y":511.25,"wires":[["76858bf8.57fe44"]]},{"id":"bbef8d2d.0c86f","type":"ui_template","z":"7e83adea.572ee4","group":"db3f9688.001598","name":"","order":1,"width":0,"height":0,"format":"<style>\n    form {\n      border-bottom: 1px solid #ccc;\n      border-collapse: collapse;\n    }\n</style>\n\n<script>\n\nvar removeType = 0;\n\n$(\"input[type='radio']\").change(function(){\n    \n   selected = $(this).val();\n   \n   if( selected ==\"intervalo\")\n   {\n      $(\"#timestampFinal\").show();\n      $(\"#l_timestampFinal\").show();\n      $(\"#timestampInicial\").show();\n      $(\"#l_timestampInicial\").show();\n      $(\"#quantidade\").hide();\n      $(\"#l_quantidade\").hide(); \n      \n      removeType = 2;\n   }\n   else\n   {\n       $(\"#timestampFinal\").hide();\n       $(\"#l_timestampFinal\").hide(); \n       $(\"#timestampInicial\").hide();\n       $(\"#l_timestampInicial\").hide();\n      $(\"#quantidade\").show();\n      $(\"#l_quantidade\").show();  \n      \n      if( selected == \"primeiros\" )\n        removeType = 0;\n      else\n        removeType = 1;\n   }\n\n});\n\nvar value = \"hello world\";\n// or overwrite value in your callback function ...\nthis.scope.action = function()\n{\n    msg = {};\n    msg.removeType = removeType;\n    \n    if(removeType == 0 || removeType == 1)\n    {\n        msg.quantidade = $(\"#quantidade\").val();\n    }\n    else\n    {\n        msg.timestampInicial = $(\"#timestampInicial\").val();\n        msg.timestampFinal = $(\"#timestampFinal\").val();\n    }\n    return msg;\n}\n</script>\n\n<form action=\"\">\n  <input type=\"radio\" checked=\"checked\" name=\"removeType\" value=\"primeiros\"> First N entrys<br>\n  <input type=\"radio\" name=\"removeType\" value=\"ultimos\"> Last N entrys<br>\n  <input type=\"radio\" name=\"removeType\" value=\"intervalo\"> Interval\n  <br/><br/>\n  <a name=\"l_quantidade\" id=\"l_quantidade\">Quantity:</a>\n  <input type=\"number\" name=\"quantidade\" id=\"quantidade\"/>\n  \n    \n  <a style=\"display:none;\" name=\"l_timestampInicial\" id=\"l_timestampInicial\">Start Timestamp:</a>\n  <input style=\"display:none;\" type=\"datetime\" name=\"timestampInicial\" value=\"YYYY-MM-DDTHH:MM:SS.000Z\" id=\"timestampInicial\"/>\n  <br/><br/>\n  <a style=\"display:none;\" name=\"l_timestampFinal\" id=\"l_timestampFinal\">Final Timestamp:</a>\n  <input style=\"display:none;\" type=\"datetime\" name=\"timestampFinal\" value=\"YYYY-MM-DDTHH:MM:SS.000Z\" id=\"timestampFinal\"/>\n  \n  <br/><br/>\n  \n  <md-button style=\"margin: 0px 0px 0px 0px;\" ng-click=\"send({payload:action()})\">Remove Data</md-button>\n</form>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":143,"y":892,"wires":[["7354a10e.caa53"]]},{"id":"19e932a5.17f21d","type":"function","z":"7e83adea.572ee4","name":"Create Request","func":"sensor = flow.get(\"seletectSensor\");\n\nselectedDev = global.get(\"selectedDev\");\ndeviceToken = selectedDev.deviceToken;\n\nmsg.req = {};\nmsg.req.params = {};\nmsg.req.params.deviceToken = deviceToken;\nmsg.req.params.sensor = sensor;\nmsg.req.params.quantity = msg.payload.quantidade;\n\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":873,"wires":[["29f66b46.548db4"]]},{"id":"7354a10e.caa53","type":"switch","z":"7e83adea.572ee4","name":"","property":"payload.removeType","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":304,"y":892,"wires":[["19e932a5.17f21d"],["19e932a5.17f21d"],["b9657ca3.536d7"]]},{"id":"b9657ca3.536d7","type":"function","z":"7e83adea.572ee4","name":"Create Request","func":"sensor = flow.get(\"seletectSensor\");\n\nselectedDev = global.get(\"selectedDev\");\ndeviceToken = selectedDev.deviceToken;\n\nmsg.req = {};\nmsg.req.params = {};\nmsg.req.params.deviceToken = deviceToken;\nmsg.req.params.sensor = sensor;\nmsg.req.params.start = msg.payload.timestampInicial;\nmsg.req.params.end = msg.payload.timestampFinal;\n\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":958,"wires":[["bb4e1b18.609758","9a46d6b7.4af278"]]},{"id":"bb4e1b18.609758","type":"debug","z":"7e83adea.572ee4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":958,"wires":[]},{"id":"29f66b46.548db4","type":"switch","z":"7e83adea.572ee4","name":"","property":"payload.removeType","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":873,"wires":[["cf769aae.ced698","338581db.b57e8e"],["f4697f43.7a7d4","e1955007.bf1b"]]},{"id":"cf769aae.ced698","type":"debug","z":"7e83adea.572ee4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":832,"y":846,"wires":[]},{"id":"f4697f43.7a7d4","type":"debug","z":"7e83adea.572ee4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":833,"y":881,"wires":[]},{"id":"338581db.b57e8e","type":"link out","z":"7e83adea.572ee4","name":"OutFirstRemove","links":["55631c33.14db84"],"x":769,"y":812,"wires":[]},{"id":"9a46d6b7.4af278","type":"link out","z":"7e83adea.572ee4","name":"OutIntervalRemove","links":["81a4201d.7ef48"],"x":621,"y":995,"wires":[]},{"id":"e1955007.bf1b","type":"link out","z":"7e83adea.572ee4","name":"OutLastRemove","links":["8b9270bf.1ebb5"],"x":772,"y":923,"wires":[]},{"id":"4be261f4.dc2d8","type":"debug","z":"7e83adea.572ee4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1733,"y":171,"wires":[]},{"id":"68c49843.f50568","type":"link in","z":"7e83adea.572ee4","name":"InDelUpdate","links":["a3a2aee5.0c12b","126ef3e2.4537ac","c39bef50.2f6b8","f4337167.a6a2b","152be262.911d8e"],"x":1024,"y":350,"wires":[["2dce755f.91edca","8a5aa380.849a5"]]},{"id":"3915ee19.a78e32","type":"function","z":"7e83adea.572ee4","name":"","func":"global.set(\"changeView\", true);\nflow.set(\"realTime\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":401,"wires":[["95df926.c31ea7"]]},{"id":"9295ba47.fbcc68","type":"debug","z":"7e83adea.572ee4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":319,"y":106,"wires":[]},{"id":"5b8c848f.6cd91c","type":"ui_group","z":"","name":"Device Sensors","tab":"b235b9c8.30a318","order":1,"disp":true,"width":"8","collapse":false},{"id":"8f5cdd6d.e744d","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotmiddleware","name":""},{"id":"de982014.b18f5","type":"ui_group","z":"","name":"Grafico","tab":"b235b9c8.30a318","order":2,"disp":true,"width":"6","collapse":false},{"id":"12df0332.cb2bcd","type":"ui_group","z":"","name":"Tabela","tab":"b235b9c8.30a318","order":2,"disp":true,"width":"12","collapse":false},{"id":"db3f9688.001598","type":"ui_group","z":"","name":"Remove Data","tab":"b235b9c8.30a318","disp":true,"width":"6","collapse":true},{"id":"b235b9c8.30a318","type":"ui_tab","z":"","name":"Device Data","icon":"dashboard","order":3,"disabled":false,"hidden":true}]
