NodeRed-Flows/Login Logout.json
[{"id":"996c73fa.a6875","type":"tab","label":"Login/Logout Flows","disabled":false,"info":""},{"id":"899b1f83.6eaf1","type":"ui_form","z":"996c73fa.a6875","name":"Dashboard Sign-In","label":"","group":"bae21fc0.1bd9b","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":260,"wires":[["67622992.8642a8"]]},{"id":"8ebdae7.e307e5","type":"comment","z":"996c73fa.a6875","name":"Sign-In Form","info":"","x":90,"y":200,"wires":[]},{"id":"70f4d5e3.97ab9c","type":"function","z":"996c73fa.a6875","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\"); \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = {}\nmsg.payload.result = 1;\n\naccounts.forEach(function ( account )\n{\n    if ( account.username == username ) \n    {\n       msg.payload.result = 2;\n       \n       if ( account.password == password ) \n       {\n           msg.payload.result = 0;\n       } \n       \n       if( username.localeCompare(\"admin\") === 0 )\n       {\n           msg.payload.typeUser = 0;\n       }\n       else\n       {\n           msg.payload.typeUser = 1;\n       }\n    }\n});\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["8b7005e7.52fdd8","634e7ad4.868d14"]]},{"id":"8b7005e7.52fdd8","type":"switch","z":"996c73fa.a6875","name":"","property":"payload.result","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":551.0000419616699,"y":305.9999885559082,"wires":[["9a3df2c3.d8805"],["bf40c15c.5b3d3"],["9d525b70.c1a298"]]},{"id":"9a3df2c3.d8805","type":"function","z":"996c73fa.a6875","name":"= 0 : Success","func":"typeUser = msg.payload.typeUser;\n\n/* ui-control payload */\nmsg.payload = {tab:\"Device Manager\",\n               tabs:{show:[\"Logout\"]},\n              }\n\nmsg.payload.typeUser = typeUser;\n\nreturn msg;","outputs":1,"noerr":0,"x":720.999885559082,"y":261.99999809265137,"wires":[["1d56047f.6bc8ec","9d61696e.917068"]]},{"id":"bf40c15c.5b3d3","type":"function","z":"996c73fa.a6875","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["b2c2a865.daac28"]]},{"id":"9d525b70.c1a298","type":"function","z":"996c73fa.a6875","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":460,"wires":[["b2c2a865.daac28"]]},{"id":"1d56047f.6bc8ec","type":"ui_ui_control","z":"996c73fa.a6875","name":"Go to Device Manager","x":988.0000686645508,"y":261.9999942779541,"wires":[[]]},{"id":"b2c2a865.daac28","type":"ui_toast","z":"996c73fa.a6875","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1020,"y":420,"wires":[[]]},{"id":"67622992.8642a8","type":"change","z":"996c73fa.a6875","name":"Account config","rules":[{"t":"set","p":"accounts","pt":"flow","to":"[{\"username\":\"admin\",\"password\":\"admin\"},{\"username\":\"user\",\"password\":\"user\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["70f4d5e3.97ab9c"]],"info":"Modifique aqui os usuários do sistema, verifique\nque essa é uma solução plain-text, o melhor seria\nse o sistema guardasse o usuário e senha em um banco\nde dados e recebesse, ao menos a senha, criptografada."},{"id":"eaf1047e.b8ed78","type":"ui_ui_control","z":"996c73fa.a6875","name":"","x":940,"y":680,"wires":[[]]},{"id":"5b0971ad.d92bf","type":"function","z":"996c73fa.a6875","name":"Back to login","func":"\n/*\nretorna para a tela de login quando a aba\nlog-out é clicada\n*/\n\n/*\n  usado para ignorar a primeira execução,\n  pois toda vez que faço logout e já houve\n  alguma seleção de dispositivo\n*/\nglobal.set(\"logout\", true);\n\nmsg.payload = {tab:\"Login Screen\",\n               tabs:{ hide:[\"Logout\"] }\n              }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["eaf1047e.b8ed78","4d0db412.7d6f1c"]]},{"id":"e6e178ae.4bc9a8","type":"switch","z":"996c73fa.a6875","name":"Logout?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":680,"wires":[["5b0971ad.d92bf"],[]]},{"id":"91e40458.86c318","type":"function","z":"996c73fa.a6875","name":"Logout Pressed","func":"\n/*\ntesta se logout foi clicado\n*/\n\n\nif(msg.payload == \"change\" && msg.name == \"Logout\")\n    msg.payload = 1;\nelse\n    msg.payload=0;\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":720,"wires":[["e6e178ae.4bc9a8"]]},{"id":"841615e6.a28f48","type":"ui_ui_control","z":"996c73fa.a6875","name":"ui control","x":240,"y":720,"wires":[["91e40458.86c318"]]},{"id":"ae600177.75d42","type":"comment","z":"996c73fa.a6875","name":"Logout Catch","info":"","x":250,"y":680,"wires":[]},{"id":"9d61696e.917068","type":"link out","z":"996c73fa.a6875","name":"","links":["ec195af2.ffead8"],"x":908,"y":316,"wires":[]},{"id":"d889c1d7.38d71","type":"inject","z":"996c73fa.a6875","name":"setup","topic":"","payload":"setup","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":210,"y":480,"wires":[["4d0db412.7d6f1c"]]},{"id":"4d0db412.7d6f1c","type":"function","z":"996c73fa.a6875","name":"UI Setup","func":"/*muda a tela para a tela \"Login\"*/\nglobal.set(\"screen\", \"Login\");\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":580,"wires":[[]]},{"id":"634e7ad4.868d14","type":"debug","z":"996c73fa.a6875","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":594,"y":150,"wires":[]},{"id":"bae21fc0.1bd9b","type":"ui_group","z":"","name":"Sign-in","tab":"f2050169.12785","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2050169.12785","type":"ui_tab","z":"","name":"Login Screen","icon":"dashboard","order":1,"disabled":false,"hidden":true}]
